#Java
target/

# Log file
*.log

# Idea files
.idea
*.iml

# Eclipse files
.settings/
.classpath
.project

# NetBeans files
nbproject/private/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# .factorypath files
.factorypath

# DataAPI simulator environment files
venv_simulator

# Python compiled and cache files
__pycache__
*.pyc

# VS code settings
.vscode

# OS X folder attributes
.DS_Store

# Personal files
personal
